*{
   
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cerebri Sans', sans-serif;
}
@media screen and (max-width:600px){
    body{
        padding: 1rem;
    }
    .nav{
       
      
        display: flex;
        justify-content: space-between;
    }
    .time{
        font-size: 1.5rem;
    }
    .header{
        
       
        display: flex;
        align-items: center;
          

    }

    .icon-box{
        background-color:#F0F4F2;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    border-radius: 50%;
    }
    .title-box{
       
        margin-left: 3rem;
    }
    .arrow-left{
        color:#0F241B;
        font-size: 1.5rem;
    }
    .step{
       
        margin-top: 2rem;
       
    }
    .review-box{
      margin-top: 1rem;
    }
    .review-box h1{
        font-family: 'Cerebri Sans', sans-serif;
        color:#0F241B;
    }
    .review-text{
        color:#4B6358;
        margin-top: 1rem;
        font-size: 1.13rem;
        font-weight: 400;
        line-height: 24px;
    }
    
    .plans{
        /* background-color: red; */
        padding: 1rem 0rem;
        border-bottom:2px solid #CBD8D2;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .plans p{
        color:#03A84E;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
    }
    .accordion{
        margin-top: 1rem;
        
    }
    .food-box{
        
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .food{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .food-text{
        font-size: 14px;
        color: #4B6358;
    }
    .accordion-item {
      
        background-color: #E9FBF2;
      
        border-radius: 16px;
        padding: 1rem;
        
    }
    
    .accordion-header {
        padding: 10px;
        cursor: pointer;
        /* background-color: #E9FBF2; */
        font-weight: bold;
        /* display: flex;
        justify-content: space-between;
        align-items: center; */
    }
    .accordion-header p{
        color:#4B6358;
        font-size: 14px;
        margin-top: 1rem;
        font-weight: 400;
    }
    .accordion-content {
        padding: 10px;
        display: none;
    }
    .laundry{
        margin-top: 1rem;
        background-color: #E5E9FC !important;
    }
    .cleaning{
        margin-top: 1rem;
        background-color: #FFF3DF;
    }
    .beauty{
        margin-top: 1rem;
        background-color: #FBE7F2;
    }
    .date-code{
        margin-top: 1.5rem;
        /* background-color: red; */
      border-top: 2px solid #CBD8D2;
      border-bottom: 2px solid #CBD8D2;
      padding: 2rem 0rem;
    }
    .date{
        /* background-color: red; */
      
      
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .date-text{
        font-size: 16px !important;
        color:#03A84E;
        cursor: pointer;
    }
    .choose-day{
        border: 1px solid #FFEBB2;
        padding: 1.3rem;
        background-color: #FFFDF5;
        margin-top: 1rem;
        border-radius: 8px;
        display: flex;
         align-items: center; 
       gap: 1rem;
    }
    .discount{
        /* background-color: red; */
        margin-top: 1rem;
    }
    .discount-text{
        /* color: #0F241B; */
        
        line-height: 24px;
        font-weight: bold;
       
    }
}