* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Cerebri Sans", sans-serif;
}
@media screen and (max-width: 992px) {
  body {
    padding: 1.5rem;
    overflow-x:hidden;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .step{
    /* background-color: red; */
    margin-top: 3rem;
  }


  .time {
    font-size: 1rem;
  }
  .header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
  }
  .header-title{
    font-size: 16px;
    color:#0F241B;
    font-weight: bold;
  }
  .icon-box {
    background-color: #f0f4f2;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .title-box {
    margin-left: 3rem;
  }
  .arrow-left {
    color: #0f241b;
    font-size: 1.5rem;
  }
  .step {
    margin-top: 2rem;
  }
  .review-box {
    margin-top: 2.5rem;
  }
  .review-box h1 {
    font-family: "Cerebri Sans", sans-serif;
    color: #0f241b;
  }
  .review-text {
    color: #4b6358;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
  }

  .plans {
    /* background-color: red; */
    padding: 1rem 0rem;
    border-bottom: 2px solid #cbd8d2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }
  .plans p {
    color: #03a84e;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
  }
  .plans h3{
    font-size: 16px;
  }
  .accordion {
    margin-top: 1rem;
  }
  .food-box {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .food {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .food-text {
    font-size: 14px;
    color: #4b6358;
  }
  .accordion-item {
    background-color: #e9fbf2;

    border-radius: 16px;
    padding: 1rem;
  }

  .accordion-header {
    padding: 10px;
    cursor: pointer;

    font-weight: bold;
  }
  .accordion-header p {
    color: #4b6358;
    font-size: 14px;
    margin-top: 1rem;
    font-weight: 400;
  }
  .accordion-content {
    padding: 10px;
    display: none;
  }
  .laundry {
    margin-top: 1rem;
    background-color: #e5e9fc !important;
  }
  .cleaning {
    margin-top: 1rem;
    background-color: #fff3df;
  }
  .beauty {
    margin-top: 1rem;
    background-color: #fbe7f2;
  }
  .date-code {
    margin-top: 1.5rem;
    
    border-top: 2px solid #cbd8d2;
    border-bottom: 2px solid #cbd8d2;
    padding: 2rem 0rem;
  }
  .date {
 

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .date-text {
    font-size: 16px !important;
    color: #03a84e;
    cursor: pointer;
  }
  .choose-day {
    border: 1px solid #ffebb2;
    padding: 1.3rem;
    background-color: #fffdf5;
    margin-top: 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .discount {
  
    border-bottom: 2px solid #cbd8d2;
    padding-bottom: 2rem;
    margin-top: 2rem;
  }
  .discount > span {
    font-weight: bolder;
    color: #0f241b;
    font-size: 1rem;
  }
  .code-box {
    margin-top: 1rem;
    /* background-color: red; */
  }
  .code {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-code {
    color: #0f241b;
    font-size: 14px;
    font-weight: bolder;
  }
  .code-line {
    background-color: #03a84e;
    padding: 1px;
    width: 14rem;
    margin-top: 1rem;
  }

  .remove-code {
    border-radius: 32px;
    border: 1px solid #e2e9e6;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
  }
  .code-green {
    color: #03a84e;
    margin-top: 0.3rem;
    font-size: 12px;
  }
  .total{
    margin-top: 1rem;

  }
.sub-total{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.applied{
    margin-top: 1rem !important;
   
}
.green{
    color: #03A84E;
    font-size: 14px;
    font-weight: bolder;
}
.total-amount{
   
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: column;
    text-align: end;
  
}
.overall{
   display: flex;
    
   
    margin-top: 1rem;

}

.amount-text{
   font-size: 12px;
   margin-top: .5rem;
    padding-left: 9rem;
    line-height: 16px;
  
}
.sub-day {
    border: 1px solid #CBD8D2;
    padding:1.5rem 1rem;
    background-color: #F9FBFA;
    margin-top: 1.5rem;
    border-radius: 8px;
    display: flex;
    gap: 1rem;
    font-size: 14px !important;
  }
  .sub-day h4{
    color:#0F241B !important;
    font-weight: 14px;
    font-weight: bold;
  }
  .btn-box{
    margin-top: 2rem;
   
    width:100%
  }
  .home-btn{
    width: 100%;
    background-color: #03A84E;
    border: none;
    
    font-size: 16px;
   text-align: center;
   padding:1.3rem 1rem;
   
   border-radius: 32px;
   border: none;
   margin-top: 2.4rem;
   cursor: pointer;
  }
 .btn-box a {
    
    text-decoration:none ;
    width: 100%;
    color:#fff;
    
  }
  .footer{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .footer-text2{
    color:#03A84E;
    text-decoration: underline;
    cursor: pointer;
  }
  .confetti-page{
   
    
    height: 100vh;
    display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  }
  .success-btn{
    background-color: #03A84E;
    color:#fff;
    font-size: 16px;
   text-align: center;
    width: 100%;
   border-radius: 32px;
   padding: 1rem;
   border: none;
   margin-top: 15rem;
   cursor: pointer;
  }
  .confetti-text{
    font-family: 'PT Serif', serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    color:#0F241B;
    margin-top: 3rem;
  }
  .confetti-paragraph{
    color:#1D352A;
    font-size: 1rem;
    line-height: 24px;
    margin-top: 2rem;
    font-weight: bold;
  }
  .hamburger{
    width:2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #4B6358;
    border-radius: 50%;
   
  }
  .ham-box{
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .ham-box p{
    color: #0F241B;
    font-size: 18px;
    font-family: 'PT Serif', serif;
   line-height: 28px;
    font-weight: 700;
  }
  .screennine-box{
    /* background-color: red; */
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 .screenine-menu{
    background-color: #F0F4F2;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:  .3rem;
    gap: 1rem;
    margin-top: 1.5rem;
    border-radius: 8px;
   
   
 }
 .Upcoming{
    width:60%;
  
    text-align: center;
    color:#0F241B;
    font-weight: bold;
    border-radius: 8px;
    padding: .5rem;
 }
 .home-text{
    background-color: #fff;
    font-size: 14px;
    color:#0F241B;
    font-weight: bold;
    border-radius: 8px;
    width:40%;
    text-align: center;
    padding: .5rem;

 }
 .call-box{
    border:3px solid #98DCAF;
    background-color: #03A84E;
    color: #fff;
    padding: 1.5rem 0rem 0rem 1rem;
    margin-top: 2rem;
    border-radius: 8px;
    display: flex;
    height: fit-content;
 }
 .call-box h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 1rem;
 }
 .call-box p{
    font-size: 14px;
 }
.call-text-box{
    margin-top: 1rem;
    width: 80%;

}
.call-img-box{
    margin-top: 3rem;
}
.food-delivery{
    background-color: #e9fbf2;
    padding: 1rem;
    margin-top: 1rem;
    border:1px solid #03A84E;
    border-radius: 8px;
}
.delivery-box{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.delivery-box span{
    color: #03A84E;
    font-weight: bold;
    font-size: 16px;
}

.delivery-title-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.delivery-btn{
    color: #03A84E;
    border-radius: 8px;
    background-color: #bbd6c9;
    border: none;
    padding:.4rem .7rem;
    cursor: pointer;
}
.fries-box{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}
.fries-img{
    border-radius: 8px;
}
.border-line{
    border-bottom: 2px solid #BDEECD;
    margin-top: 1rem;
    width:100%;
    height: .5rem;
}
.clock{
    margin-top: 1rem;
}
.home-delivery{
    border: 1px solid #ffebb2;
   margin-top: 2rem;
    background-color: #fffdf5;
}
 .delivery-box .home-span{
    color:#FF9800;
    font-weight: bold;
    font-size: 16px;
}
.home-border-line{
    border-bottom: 1px solid #ffebb2;
    margin-top: 1rem;
    width:100%;
    height: .5rem;
}
.home-delivery-btn{
    color: #FF9800;
    border-radius: 8px;
    background-color: #e1d6ab;
    border: none;
    padding:.4rem .7rem;
    cursor: pointer;
}
.home-delivery-text{
    margin-top: 1rem;
   
}
.home-footer{
    display: flex;
    margin-top: 2rem;
    border-top: 1px solid #F1F4F2;
    padding-top: 1rem;
    justify-content: space-between;
}
.footer-icon{
    text-align: center;
    color:#03A84E
}
.footer-icons{
    text-align: center;
    color:#8AA398
}
.profile-page{
   
  height: 100vh;
  margin: 0;
 
}
.home-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; 
  }
  
  .order-green{
    color: #03A84E;
  }
  .modal-content {
    background-color: #ffff;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 20px ;
    height: 38rem;
    border-radius: 24px;
    margin-top: 4rem;
    
   
  
  }
  .cleaning-modal{
    height: fit-content;
  }
  .modal-header{
    display: flex;
    border-radius: 16px;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .modal-header p{
    font-size: 12px;
    color:#4B6358
  }
  .close-btn{
    cursor: pointer;
    font-size: 20px;
    color:#4B6358
  }
  
  .food-order{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
  .order-status{
    font-size: 12px;
    color:#4B6358;
  }
  .order-text{
    font-size: 16px;
    color: #0F241B;
  }
  .dotted-border{
    border: 2px dotted #CBD8D2;
    padding: 1rem 1.5rem;
    height: 6rem;
    margin-top: 1rem;
  }
  .no-space{
    margin-top: 0rem;
    border-top: none;
    height:4rem ;
  }
  .dotted-add{
    font-size: 12px;
    color:#4B6358;
    margin-bottom: .5rem;
    font-weight: 400;
  }
  .dotted-add2{
    color:#0F241B;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .order-title{
    color:#0F241B;
    font-size: 1rem;
    font-weight: bold;
    line-height: 24px;
  }
  .main-order-box{
    /* background-color: blue; */
    margin-top: 1rem;
  }
  .order-sub{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .order-arrived{
    border-left: 2px dotted #03A84E;
    margin-left: .5rem;
    padding:.5rem 1.5rem ;
    height: 5rem;
  }
  .order-arrived p{
    font-size: 14px;
    color:#4B6358;
    line-height: 20px;
  }
  .fa-check{
    color:#03A84E;
    font-size: 26px;
  }
  .order-way{
    margin-left: .5rem;
    padding:.5rem 1rem ;
    height: 7rem;
  }
  .dotted-boxheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
